@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

.header, .footer {
  display: flex;
  justify-content: space-between;
}

.footer {
  flex-shrink: 0;
  background-color: #eeeeee;
}

.content {
  margin-top: 30px;
  flex: 1;
  text-align: center;
}

.right-links {
  margin-right: 30px;
}

ul {
  display: flex;
  gap: 15px;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: darkslategrey;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 12px;
  font-weight: 500;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}